doctype html
head
  title Home
  link(rel='stylesheet' type='text/css' href='/css/stylesheet5.css')
  link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')
  link(href='https://fonts.googleapis.com/css?family=Do+Hyeon' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Teko&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Righteous&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Varela+Round&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Karla&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')
body
  .cont
    .wrapp  
      header.tm-header
        .tm-container2
          a#mainLogo(href='#') Hunter of Legends
          .tm-nav2
            ul
              li
                a(href='/on')
                  .play
                    i.fas.fa-play.fa-lg
                  | Start
      .tm-content
        .tm-container2
          .wlc
            h1 Welcome Summoner
            br
            p
              | Hunter of legends was made to make your league of legends games more competetive. In each game a random enemy will be chosen for you to track and take down. You will be rewarded for kills or even assists on your prey points which will be later used to put you on our leaderboard. You can play on the website or using the discord with your friends in a server.
            br
            a(href='https://discordapp.com/api/oauth2/authorize?client_id=470216935418757131&permissions=0&scope=bot')
              .discord
                i.fab.fa-discord.fa-5x
                p.dis Play on discord
    footer.tm-footer 
      p &copy;2020 fateEvasion. All rights reserved.
