*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../pictures/intro5.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body, html{
	height: 90%;
}
.tm-nav2{
	margin-top: 0px;
	position: relative;
	width: 100px;
	height: auto;
	background-color: transparent;
	display: inline-block;
	color: white;
	float: right;
	margin-top: 20.5px;
	font-family: 'Teko', sans-serif;
	font-size: 28px;
}
.tm-nav2 ul li{
	text-decoration: none;
	list-style-type: none;
}
.tm-nav2 ul li a{
	text-decoration: none;
	color: inherit;
}
#logout{
	color: white;
	text-decoration: none;
	font-size: 15px;
	background-color: red;
	position: absolute;
}
.confirmation{
	width: 380px;
	height: 40px;
	color: white;
	margin-left: 60px;
	background-color: transparent;
}
.srch3{
	text-decoration: none;
	margin-top: 10px;
	border-radius: 12px;
	color: white;
	background-color: #c4831a; 
	padding: 10px 25px;
	font-size: 12px;
	width: 100px;
	border: none;
	margin-left: 200px;
}
.tm-errors {
  color: white;
  background-color: #bf340d;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
  min-width: 100%;
  font-size: 24px;
  position: absolute;
  font-family: 'Teko', sans-serif;
}
.srch4{
	text-decoration: none;
	margin-top: 45px;
	border-radius: 12px;
	color: white;
	background-color: #c4831a; 
	padding: 12px 23px;
	font-size: 13px;
	width: 150px;
	border: none;
	margin-left: 165px;
}
.lvl{
	color: white;
	width: 380px;
	height: 40px;
	margin-left: -18px;
	background-color: transparent;
	position: absolute;
	margin-top: 0px;
	text-align: center;
	line-height: 40px;
}
.data{
	background: black;
	color: white;
	text-align: center;
	position: relative;
	margin-right: auto;
	margin-top: 100px;
	height: 450px;
	margin-left: auto;
	width: 620px;
	font-family: 'Teko', sans-serif;
	font-size: 1.3em;
}
.pofimg{
	border-radius: 50%;
	width: 160px;
	height: 160px;
	background-size: contain;
	position: absolute;
	margin-left: 220px;
	margin-top: 20px;
}
.search{
	position: absolute;
	margin-top: 200px;
	width: 180px;
	margin-left: 60px;
}
#srch{
	width: 380px;
	height: 40px;
}
#srch2{
	text-decoration: none;
	margin-top: 20px;
	border-radius: 12px;
	color: white;
	background-color: #1DB954; 
	padding: 10px 25px;
	border: none;
}
.tm-header{
	background-color: #000;
}
.tm-header::after{
	content: " ";
	display: block;
	clear: both;
}
.tm-container2{
	max-width: 1600px;
	margin: 0px auto;
	min-height: 100%;
}
#mainLogo {
	font-family: 'Teko', sans-serif;
	font-size: 2.6em;
	text-decoration: none;
	color: #c4831a;
	line-height: 80px;
}
.tm-content{
	min-height: 100%;
	max-width: 1000px;
	margin: 0px auto;
}
.tm-main{
	overflow: hidden;
}
.tm-footer{
	top: 15%;
	position: relative;
	background: #000;
	text-align: center;
	padding: 20px;
	color: white;
	margin-top: -20px;
	height: 20px;
	clear: both;
}